{{- $author := dict "@type" "Person" "name" (.Params.author | default .Site.Params.author) "url" .Site.BaseURL -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "WebPage" "name" .Title "url" .Permalink "inLanguage" .Site.Language.Locale -}}
{{- if and .IsPage (eq .Section "blogs") -}}
  {{- $schema = dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" (.Description | default .Summary | plainify)
    "author" $author
    "url" .Permalink
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "inLanguage" .Site.Language.Locale
    "datePublished" (.PublishDate.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  -}}
  {{- with .Params.tags }}{{ $schema = merge $schema (dict "keywords" .) }}{{ end -}}
  {{- with .Params.image }}{{ $schema = merge $schema (dict "image" (slice (. | absURL))) }}{{ end -}}
{{- else if .IsHome -}}
  {{- $schema = merge $schema (dict "@type" "WebSite" "name" .Site.Title "author" $author "description" .Site.Params.description) -}}
{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
