{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>

{{ $stylesOther := slice }}
{{ $index := resources.Get "css/index.css" }}
{{ $projects := resources.Get "css/projects.css" }}

{{ if $index }} {{ $stylesOther = $stylesOther | append $index }} {{ end }}
{{ if $projects }} {{ $stylesOther = $stylesOther | append $projects }} {{ end }}

{{ $bundleOthers := $stylesOther | resources.Concat "css/bundle-index.css" }}

{{ $finalOtherStyle := $bundleOthers | minify | fingerprint }}

<link rel="stylesheet" href="{{ $finalOtherStyle.RelPermalink }}" integrity="{{ $finalOtherStyle.Data.Integrity }}" media="all">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<!-- fontawesome -->
{{ $fontawesomeBundle := resources.Get "fontawesome-6/all-6.4.2.js" | minify | fingerprint }}
<script src="{{ $fontawesomeBundle.RelPermalink }}" integrity="{{ $fontawesomeBundle.Data.Integrity }}"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/experience.html" . -}}
{{- partial "sections/education.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/achievements.html" . -}}
{{- partial "sections/contact.html" . -}}
{{ end }}
